<script id="t-no-order" type="text/html">

    <div class="error-component" data-bind="with: data">
        <div class="error-detail">
            Your account 
            <code data-bind="text: searchterm"></code>
            have not placed an order yet.
        </div>
    </div>

</script>
