<script id="t-order-detail" type="text/html">

<h1>Order Detail</h1>

<div class = "order-history" data-bind = "with:data">
  <div class = "status-report" data-bind ="visible: order.flag">
    <h5 style= "font-size: 125%; color: green"> <b>Congraduations! You Have Successfully Placed This Order.</b><h5></br>
  </div>
  <div class = "column-lables">
    <label class = "history-image">Images</label>
    <label class = "history-details">Description</label>
    <label class="history-price">Price</label>
    <label class="history-quantity">Quantity</label>
    <label class="history-line-price">Total</label>
  </div>

  <div class=“history-body” data-bind ="foreach: {data: order.items, as:'item'}">
      <div class ="history">
          <a class = "history-image">
            <img src="" alt="" data-bind="src:item.thumbnailLink">
          </a>
      <!-- </div>
      book description details -->
          <div class="history-details">
            <a class="history-title" style="text-decoration:none" href="javascript:void(0);" data-bind="text: item.title, click: item.click"></a>
            <p class="history-description" data-bind="text: item.description"></p>
            <!--<p><a class="download-link" data-bind = "text: item.downloadLink"> </a></p> -->
            <div class="downloadflag" data-bind ="visible: item.flag">
              <h5 style= "font-size: 125%">
                <b>
                  <a class="test" data-bind="attr: { href: item.downloadLink }, click: function () { myFunction(); return true;}" >Click Here to Download</a>
                </b>
              <h5>
            </div>
          </div>
          <div class="history-price" data-bind="text: item.price"></div>
          <div class="history-quantity" data-bind="text:item.quantity"></div>
          <div class="history-line-price" data-bind = "text:item.price * item.quantity * 1.05"></div>
      </div>
      <hr style="height: '15'; text-align: 'left'; color: '#FF0000'; width: '100%'">
  </div>

 <div class="totals">
  <div class="totals-item">
      <label>Total(tax)</label>
      <div class="totals-value" id="cart-subtotal" data-bind="text:order.total"></div>
  </div>
    <!-- <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax" data-bind="text: order.orderListLink">999</div>
    </div> -->
    <!-- <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total" data-bind="text: data.total">999999</div>
    </div>
    <div> -->
    <!-- <p><a class="download-link" data-bind = "text:item.downloadLink, click:order.clicktest"></a>teaer</p> -->
 </div>
    <a class="back-to-orderlist" href="javascript:void(0);" data-bind="click:order.click1" >
      <button class="order-list">Order List</button>
    </a>

    </div>
  </div>
  <hr>
  <hr>
</div>
</script>
