<script id="t-order-list" type="text/html">
    <div class="product-component">
        <div class="row" data-bind="foreach:{data:data.orders, as: 'order' }" >
            <div class="col-sm-6 col-md-6 product-col" >
                <div class="thumbnail-order"  data-bind="foreach: {data: order.items, as: 'item'}">
                    <a class="thumbnail-order-img" href="javascript:void(0);" data-bind = "click: order.click">
                        <img src="" data-bind="src: item.thumbnailLink">
                    </a>
                </div>
                <div class = "description">
                  <h4>Order ID: <a href="javascript:void(0);" data-bind="text: order.uid"  data-bind = "click: order.click"></a></h4> <!--  this is where the order id is created  -->
                  <h4>Ordered at: <a href="javascript:void(0);" data-bind="text: order.time"  data-bind = "click: order.click"></a></h4>
                  <!-- <h4>Total Amount: <a href="javascript:void(0);" data-bind="text: order.time"></a></h4>  -->
                </div>
                <hr>
                <h4>Order Summary</h4>
                    <div class="description" data-bind = "foreach: {data: order.items, as: 'item'}">
                        <p>Title: <a href="javascript:void(0);" data-bind="text: item.title"></a></p>
                        <p>Price: <a href="javascript:void(0);" data-bind="currency: item.price"></a></p>
                        <p>Quantity: <a href="javascript:void(0);" data-bind="text: item.quantity"></a></h4>
                    </div>
                    <br>
                    <div>
                      <p> Total: <a data-bind="currency: order.total"></a> </p>
                    </div>
                    <div>
                    <a class="order-detail" href="javascript:void(0);" data-bind = "click: order.click">
                      <button class="order-detail">More Details</button>
                    </a>
                    </div>
                    <hr>

            </div>
        </div>

    </div>
</script>
