<script id="t-payment-failed" type="text/html">
    
    <div class="error-component" data-bind="with: data">
       
        <div class="error-detail" style="font-size: 200%; color: red">
         	Payment did not succeed. <br><br> 
         	<div style="color: black"> Please go back to shopping cart and try again. Thank you. </div>
        </div>
    </div>
    
</script>