<script id="t-payment" type="text/html">
    <!--<form id="user-payment-form" action="/payment" method="post" role="form"> -->
    <div id="payment">
        <div class="form-group" data-bind="with: data">
        <h1>Payment Information </h1>
            <p> Card Number</p>
            <input data-bind="value: card"  />
        </div>
     
        <div class="form-group" data-bind="with: data">
            <p> Month</p>
            <input data-bind="value: month"  />
        </div>
        
        <div class="form-group" data-bind="with: data">
            <p> Year</p>
            <input data-bind="value: year" />
        </div>

        <div class="form-group" data-bind="with: data">
            <p> CVC </p>
            <input data-bind="value: cvc"  />
        </div>

        Amount:
        <div class="form-group" data-bind="with: data">
           <h1> <b><span data-bind="text: amount"></span></b></h1>
        </div>

         <div class="form-group" data-bind="with: data">
            <button name="makePayment" class="submit-payment"  data-bind="click: makePayment">Submit</button>
         </div>
    </div>
    <!-- </form> -->
</script>
