<!--This is our template. -->

<!-- <script charset="utf-8" src="shoppingcart.js" type="text/javascript"></script> -->
<script id="t-shoppingcart" type="text/html">
  <!-- <script charset="utf-8" src="shoppingcart.js" type="text/javascript"></script> -->
<h1>Shopping Cart</h1>
<div class="shopping-cart">

  <div class="column-labels">
    <label class="scprod-image">Image</label>
    <label class="scprod-check">Check Now</label>
    <label class="scprod-details">Product</label>
    <label class="scprod-price">Price</label>
    <label class="scprod-quantity">Quantity</label>
    <label class="scprod-removal">Remove</label>
    <label class="scprod-line-price">Total</label>
  </div>

  <div class="scprod-body" data-bind="foreach: { data: data.scprods, as: 'product' }">
    <div class="scprod" >
              <!-- <div class="scprod-image">
                <img src="http://s.cdpn.io/3/dingo-dog-bones.jpg">
              </div> -->
              <a class="scprod-image" href="javascript:void(0);" data-bind="click: product.click">
                  <img src="" alt="" data-bind="src: product.thumbnailLink, attr: { alt: product.thumbnailAlt }">
              </a>
              <div class="scprod-check">
          	    <input type="checkbox" name="check" data-bind="checked: product.isBoxChecked(), click: product.onCheckBoxClicked"/>
          	  </div>
              <div class="scprod-details">
                <a class="scprod-title" style="text-decoration:none" href="javascript:void(0);" data-bind="text: product.title, click: product.click"></a>
                <!-- <div class="scprod-title">Dingo Dog Bones</div> -->
                <p class="scprod-description" data-bind="html: product.description"></p>
              </div>
              <div class="scprod-price" data-bind="text: product.price"></div>
              <div class="scprod-quantity">
                <input type="number" id="quantity" value="2" min="1" data-bind="value:product.quantity, click: product.onQuantityChanged">
              </div>
              <div class="scprod-removal">
                <button class="remove-product" data-bind="click: product.onRemove">
                  Remove
                </button>
              </div>
              <div class="scprod-line-price" data-bind="visible: product, text: product.linePrice">
              <!-- <div class="scprod-line-price" data-bind="visible: product, text: product.getLinePrice()"> -->
      </div>
    </div>
  </div>

  <div class="totals" data-bind="data: data">
    <!-- <div class="totals-item">
      <label>Quantity</label>
      <div class="totals-quantity" id="cart-quantity" data-bind="text: data.checkoutQuantity">9999</div>
    </div> -->
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal" data-bind="text: data.subtotal">999</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax" data-bind="text: data.tax">999</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total" data-bind="text: data.total">999999</div>
    </div>
  </div>
    <div class="placeOrder" data-bind="data: data">
      <button name="placeorder"class="place-order" data-bind="click: data.placeOrder">Place Order</button>
    </div>
</div>

</script>
