<script id="t-shoppingcart-list" type="text/html">
    <div class="shoppingcart-component">
      <div class="subtotal">
        TEST
      </div>
        <div class="row" data-bind="foreach: { data: data.products(), as: 'product' }">
            <div class="col-xs-8 product-col">
                <div class="thumbnail">
                  <a class="thumbnail-img" href="javascript:void(0);" data-bind="click: product.click">
                      <img src="" alt="" data-bind="src: product.thumbnailLink, attr: { alt: product.thumbnailAlt }">
                  </a>

                    <div class="caption">
                        <h3><a href="javascript:void(0);" data-bind="text: product.title, click: product.click"></a></h3>
                        <div class="description" data-bind="html: product.description"></div>
                        <div class="overlay"></div>
                        <!-- <a class="buy-now" href="javascript:void(0);"> $12.99</a> -->
                        <a class="buy-now" href="javascript:void(0);" data-bind="currency: product.price"></a>
                        <a class="increment" href="javascript:void(0)">Increment</a>
                        <!-- <div style="float:right" class="fa fa-chevron-down" padding-right="10px">
                          <a href="\"></a>
                        </div>
                        <div class="fa fa-chevron-up" padding-right="10px" href="javascript:void(1);"></div> -->
                        <!-- <a class="quantity" href="javascript:void(2);">Quantity</a> -->
                        <select class="quantity" autocomplete="off" >
                          <option value="1"   selected=""> 1 </option>
                          <option value="2"  > 2 </option>
                          <option value="3"  > 3 </option>
                          <option value="4"  > 4 </option>
                          <option value="5"  > 5 </option>
                          <option value="6"  > 6 </option>
                          <option value="7"  > 7 </option>
                          <option value="8"  > 8 </option>
                          <option value="9"  > 9 </option>
                          <option value="10" data-a-css-class="quantity-option quantity-option-10">10+</option>
                        </select>
                        <a class="decrement" href="javascript:void(0);">Decrement</a>
                        <a class="remove" href="javascript:void(3);">Remove</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
