<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css" />

    <!-- TODO FIXME: newly added feature. -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/shoppingcart_dropdown_style.css">
    <link rel="stylesheet" href="/css/shoppingcart.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="/scripts/lib/modernizr.custom.js"></script>
</head>
<body>
    <header id="header">
        <h1><a href="/">Bamazon</a></h1>
        <div class="search-form">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="search" data-bind="textInput: searchString">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: go">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div>
        <nav>
    <!--
            <span data-bind="foreach: links">
                <a data-bind="text: text, href: href"></a>
            </span>
    -->
            <!-- <a href="/checkout">
                <i class="fa fa-shopping-cart-dd"></i>
            </a> -->
            <!-- TODO: currently set the user as shopper1, need to get the real user -->
              <li>
                <a href="/checkout" id="cart" class="carticon">
                  <i class="fa fa-shopping-cart"></i>Cart
                  <span class="badge" id="itemnumber">0</span>
                </a>
                <a href="/login" class="logicon" id="loginclick">
                  <i class="fa fa-user"></i>Login
                    <!-- <span class="label" id="userlog">0</span> -->
                </a>
                <form action="/logout" method="get">
                <a class="logicon" id="logoutclick" href="javascript:void()" onclick="$(this).closest('form').submit()">
                  <i class="fa fa-user-times"></i>Logout
                    <!-- <span class="label" id="userlog">0</span> -->
                </a>
                </form>
              </li>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div><!-- /container -->

    <!-- <div class="shoppint-cart-dd-container">
      <div class="shopping-cart-dd" style="display:none;">
        <div class="shopping-cart-dd-header">
          <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
          <div class="shopping-cart-dd-total">
            <span class="lighter-text">Total:</span>
            <span class="main-color-text">$2,229.97</span>
          </div>
        </div>

        <ul class="shopping-cart-dd-items">
          <li class="clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
            <span class="item-name">Sony DSC-RX100M III</span>
            <span class="item-price">$849.99</span>
            <span class="item-quantity">Quantity: 01</span>
          </li>

          <li class="clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
            <span class="item-name">KS Automatic Mechanic...</span>
            <span class="item-price">$1,249.99</span>
            <span class="item-quantity">Quantity: 01</span>
          </li>

          <li class="clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
            <span class="item-name">Kindle, 6" Glare-Free To...</span>
            <span class="item-price">$129.99</span>
            <span class="item-quantity">Quantity: 01</span>
          </li>
        </ul>

        <a href="/checkout" class="button">Checkout</a>
      </div>
    </div>  -->

    {{> empty}}
    {{> error404}}
    {{> searchNoResults}}
    {{> productGrid}}
    {{> bookDetails}}
    {{> login}}
    {{> register}}
    {{> shoppingCart}}
    {{> shoppingCartEntries}}
    {{> payment}}
    {{> orderList}}
    {{> orderDetail}}
    {{> noOrder}}
    {{> shoppingCart}}
    {{> paymentFailed}}

    <!-- /templates -->

    <!-- Lib CDN's-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://js.stripe.com/v2/"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/card.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/jquery.card.js'></script>

    <script src="/scripts/lib/bower_components/hilary/release/hilary.min.js"></script>
    <script src="/scripts/lib/bower_components/gidget/release/gidget.min.js"></script>
    <script src="/scripts/lib/bower_components/es6-promise/promise.min.js"></script>
    <script src="/scripts/lib/bower_components/fetch/fetch.js"></script>
    <script src="/scripts/lib/ko.binders.js"></script>
    <script src="/scripts/lib/grid.js"></script>
    <script src="/scripts/lib/payment.js"></script>

    <script src="/scripts/controllers/authController.js"></script>
    <script src="/scripts/controllers/booksController.js"></script>
    <script src="/scripts/controllers/homeController.js"></script>

    <script src="/scripts/controllers/exampleController.js"></script>
    <script src="/scripts/controllers/paymentController.js"></script>
    <script src="/scripts/controllers/ordersController.js"></script>
    <!-- <stript src="/scripts/controllers/shoppingcartController.js"></script> -->

    <script src="/scripts/locale/en_US.js"></script>

    <script src="/scripts/models/Book.js"></script>
    <script src="/scripts/models/Books.js"></script>
    <script src="/scripts/models/Product.js"></script>
    <script src="/scripts/models/Products.js"></script>
    <script src="/scripts/models/Order.js"></script>
    <script src="/scripts/models/Orders.js"></script>
    <script src="/scripts/models/SCProd.js"></script>
    <script src="/scripts/models/SCProds.js"></script>

    <script src="/scripts/viewModels/HomeVM.js"></script>
    <script src="/scripts/viewModels/PaymentVM.js"></script>

    <script src="/scripts/ExceptionHandler.js"></script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/ViewEngine.js"></script>
    <script src="/scripts/startup.js"></script>
    <script src="/scripts/index.js"></script>

</body>
</html>
