.book-quantity {
  position: absolute;
  float: right;
  right: 100px;
  margin-top:30px;
  padding-right: 100px;
  width:60px;
  height:30px;
}

.purchase {
  position: absolute;
  margin-top: 10px;
  float: right;
  right: 10px;
  width:60px;
  height:10px;
}
