// main: main.less
// @import (less) 'font-awesome.css';
.shoppingcart-component {

    .row {
        margin-top: 20px;

        .product-col {

            .thumbnail {
                height: 250px;
                padding: 0;
                border: none;
                .border-radius(0);
                .box-shadow(2px 2px 5px 0px rgba(51,51,51,.2));

                a.thumbnail-img {
                    img {
                        max-height: 250px;
                        max-width: 250px;
                        float: left;
                        margin: 0 10px 0 0;
                    }

                    &::before {
                        opacity: 0;
                        content: ' ';
                        position: absolute;
                        //width: 100%;
                        height: 250px;
                        // background-color: rgba(51,51,51,.4);
                        transition: opacity 0.3s;
                        top: 0;
                        // .horizontal-gradient(transparent, gray);
                        // background-color:linear-gradient(
                        // to right, gray);
                        background-image: -webkit-gradient(
                        linear, left top, right top, from(rgba(51,51,51,0.2)),
                        to(rgba(100,0,0,0.0)), color-stop(.1,#111333)
                        );
                    }

                    &:hover::before {
                        opacity: 0.3;
                    }
                  // TODO: when i use the below code in the outside, why will it disable the clicks?
                  //  &::before {
                  //      opacity: 0;
                  //      content: ' ';
                  //      position: absolute;
                  //      width: 95.4%;
                  //      height: 250px;
                  //      background-color: rgba(51,51,51,.4);
                  //      transition: opacity 0.3s;
                  //      top: 0;
                  //  }
                   //
                  //  &:hover::before {
                  //      opacity: 1;
                  //  }
                }

                h3 {
                    margin-top: 0;
                    height: 55px;
                    overflow: hidden;
                }

                .description {
                    height: 145px;
                    position: relative;
                    overflow: hidden;
                }

                .overlay {
                    position: absolute;
                    right: 0;
                    width: 100px;
                    margin-right: 16px;
                    margin-top: -18px;
                    height: 1.5em;
                    .horizontal-gradient(transparent, white);
                }

                .remove {
                    margin-top: 5px;
                    float: right;
                    padding-right: 25px;
                    font-weight: 500;
                    color: #449d44;
                    // a: fa-car
                    &:hover {
                        color: @link-hover-color;
                    }
                }

                .increment {
                    margin-top: 5px;
                    float: right;
                    padding-right: 20px;
                    font-weight: 500;
                    color: #449d44;

                    // .fa;
                    //   .fa-lg;
                    //   &:before{
                    //     content: @fa-var-github;
                    //   }
                    // font: 16px 'ds_goose', sans-serif;
                    // &:extend(.fa, .fa-cheveron-up);

                    &:hover {
                        color: @link-hover-color;
                    }
                }

                .quantity {
                    margin-top: 5px;
                    float: right;
                    padding-right: 15px;
                    font-weight: 500;
                    color: #449d44;

                    &:hover {
                        color: @link-hover-color;
                    }
                }

                .decrement {
                    margin-top: 5px;
                    float: right;
                    padding-right: 10px;
                    font-weight: 500;
                    color: #449d44;

                    &:hover {
                        color: @link-hover-color;
                    }
                }

                .buy-now {
                    margin-top: 5px;
                    // margin-left:5px;
                    float: right;
                    padding-right: 5px;
                    // padding-right: 100px;
                    font-weight: 500;
                    color: #449d44;

                    &:hover {
                        color: @link-hover-color;
                    }
                }
            } // /.thumbnail
        } // /.product-col
    } // /.row
} // /.product-component

.subtotal {
    float: right;
    max-height: 250px;
    max-width: 250px;
    padding: 0;
    border: none;
    .border-radius(0);
    .box-shadow(2px 2px 5px 0px rgba(51,51,51,.2));
}
