/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/
/* Global settings */
/* Global "table" column settings */
.history-image {
  float: left;
  width: 20%;
}

//.scprod-check {
//  float: left;
//  width: 10%;
//}
.history-details {
  float: left;
  width: 46%;
}

.history-price {
  float: left;
  width: 12%;
}

.history-quantity {
  float: left;
  width: 10%;
}

//.history-removal {
//   float: left;
//  width: 4%;
// }

.history-line-price {
  float: left;
  width: 10%;
  text-align: right;
}

// input[type=checkbox] {
//   /* All browsers except webkit*/
//   transform: scale(1.5);
//
//   /* Webkit browsers*/
//   -webkit-transform: scale(1.5);
// }

/* This is used as the traditional .clearfix class */
.group:before, .order-history:before, .column-labels:before, .history:before, .totals-item:before,
.group:after,
.order-history:after,
.column-labels:after,
.history:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .order-history:after, .column-labels:after, .history:after, .totals-item:after {
  clear: both;
}

.group, .order-history, .column-labels, .history, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.history .history-price:before, .history .history-line-price:before, .totals-value:before {
  content: '$';
}

/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: #aaa;
}

.order-history {
  margin-top: 0px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .history-image, .column-labels .history-details, .column-labels .history-removal {
  text-indent: -9999px;
}

/* Product entries */
.history {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.history .history-image {
  text-align: center;
}
.history .history-image img {
  width: 150px;
}
.history .history-details .history-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.history .history-details .history-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}

// .history .history-details .download-link {
//   margin: 5px 20px 5px 0;
//   line-height: 1.4em;
// }

.history .history-quantity input {
  width: 40px;
}
// .history .remove-product {
//   border: 0;
//   padding: 4px 8px;
//   background-color: #c66;
//   color: #fff;
//   font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
//   font-size: 15px;
//   border-radius: 3px;
// }
// .scprod .remove-product:hover {
//   background-color: #a44;
// }

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.order-list {
  float: right;
  border: 0;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.order-list:hover {
  background-color: #494;
}
