@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

.lighter-text {
  color: #ABB0BE;
  test-decoration:none;
}

.main-color-text {
  color: #6394F8;
  test-decoration:none;
}

/*body {
  font: 14px/22px "Lato", Arial, sans-serif;
  background: #6394F8;
}*/

/*nav .navbar-left {
  float: left;
}*/
/*nav .navbar-right {
  float: right;
}*/

nav li {
  display: inline;
  padding-left: 20px;
}

.shoppint-cart-dd-container {
  width: 80%;
	margin: auto;
}

/*.shopping-cart-dd-header a {
    color: #FFFFFF;
    text-decoration: none;
}*/

.shopping-cart-dd-dd a {
    color: #FFFFFF;
    text-decoration: none;
}

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  opacity:0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.shopping-cart-dd {
  margin: 20px 0px;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 10px;
  padding: 20px;
}
.shopping-cart-dd .shopping-cart-dd-header {
  /*float:left;*/
  border-bottom: 2px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart-dd .shopping-cart-dd-header .shopping-cart-dd-total {
  float: right;
}
.shopping-cart-dd .shopping-cart-dd-items {
  padding-top: 20px;
}
.shopping-cart-dd .shopping-cart-dd-items li {
  margin-bottom: 18px;
}
.shopping-cart-dd .shopping-cart-dd-items img {
  float: left;
  margin-right: 12px;
}
.shopping-cart-dd .shopping-cart-dd-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.shopping-cart-dd .shopping-cart-dd-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}
.shopping-cart-dd .shopping-cart-dd-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart-dd:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: #6394F8;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
