/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/
/* Global settings */
/* Global "table" column settings */
.scprod-image {
  float: left;
  width: 20%;
}

.scprod-check {
  float: left;
  width: 10%;
}

.scprod-details {
  float: left;
  width: 32%;
}

.scprod-price {
  float: left;
  width: 12%;
}

.scprod-quantity {
  float: left;
  width: 10%;
}

.scprod-removal {
  float: left;
  width: 4%;
}

.scprod-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .scprod:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.scprod:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .scprod:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .scprod, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.scprod .scprod-price:before, .scprod .scprod-line-price:before, .totals-value:before {
  content: '$';
}

/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: #aaa;
}

.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .scprod-image, .column-labels .scprod-details, .column-labels .scprod-removal {
  text-indent: -9999px;
}

/* Product entries */
.scprod {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.scprod .scprod-image {
  text-align: center;
}
.scprod .scprod-image img {
  width: 150px;
}
.scprod .scprod-details .scprod-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.scprod .scprod-details .scprod-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.scprod .scprod-quantity input {
  width: 40px;
}
.scprod .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 15px;
  border-radius: 3px;
}
.scprod .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.place-order {
  float: right;
  border: 0;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.place-order:hover {
  background-color: #494;
}
